html{
	width: 100%;
}

body{
	background-color: #a0808b; 
}

div.sidenav {
	opacity: 0%;
	position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: grid;
    padding: 4vw;
    grid-auto-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    overflow-x: hidden;
}

div.sidenav a {
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	
	margin-left: 100px;
	grid-column-start: 1;
	grid-column-end: 1;
	opacity: 0%;
	text-decoration: none;;
	color: #D3D3D3;
	display: inline-block;
	z-index: 2;

	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);
}

#back-a{
	margin-left: 40px;
	width: 50px;
	height: 50px;
	z-index: 2;
}

#back{
	width: 30px;
	height: 30px;
	border:1px solid #f5f43a;
	border-radius: 50%;
	padding: 12px 12px;

	/* Safari */
	-webkit-transform: rotate(90deg);

	/* Firefox */
	-moz-transform: rotate(90deg);

	/* IE */
	-ms-transform: rotate(90deg);

	/* Opera */
	-o-transform: rotate(90deg);

}

#back:hover{
	border-color: #f5f43a;
}


h2#title{
	grid-column-start: 3;
	grid-column-end: 10;
	
	margin-top: 50px;
	font-family: 'Fjalla One', sans-serif;
	color: #f5f43a;
	font-size: 85pt;
	line-height: 130px;
}
span#outline{
	-webkit-text-fill-color: #a0808b; /* Will override color (regardless of order) */
	  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #f5f43a;
}

.container-grid{
	z-index: 1;
	display:grid;
	grid-auto-columns: 1fr;
    grid-template-columns: 4vw 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4vw;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 4em 1em;
	 height: 100vh; /* new */
	 height: 100%;
	overflow: hidden;

}


